body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    margin-top: 20px;
}
.navbar {
    height: 50px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand img {
    height: 30px;
    margin-right: 5px;
}

.navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white;
}

.dropdown-menu a:hover {
    background-color: #343A40;
    color: white;
}

.wrapper {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.sidebar {
    width: 180px;
    background-color: #2C3E50;
    padding: 15px;
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: #ECF0F1;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #1ABC9C;
    color: white;
}

.sidebar a.active {
    background-color: #16A085;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 20px;
    flex: 1;
}

.tile {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile img {
    height: 20px;
    margin-right: 8px;
}

.json-table-wrapper {
    width: 30%;
    overflow: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    margin-top: 20px;
}

.json-table-wrapper h5 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

select.form-select {
    font-size: 12px;
    padding: 4px 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
}

th,
td {
    padding: 4px 8px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.details-table-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 20px;
    resize: both;
}

.footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}

.spacer {
    height: 600px;
}

.additional-details-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 20px;
    resize: both;
}
