* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    height: 5px;
    background-color: #0056b3;
}

.navbar {
    height: 50px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white;
}

.wrapper {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 55px);
}

.sidebar {
    width: 180px;
    background-color: #2C3E50;
    padding: 15px;
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: #ECF0F1;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #1ABC9C;
    color: white;
}

.sidebar a.active {
    background-color: #16A085;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
}

.grid {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 48%;
}

.element-item {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 15px;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .17);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Dodajemy to, aby "Upload CSV 1" był mniejszy*/
.element-item-upload {
  height: auto; /* Wysokość automatyczna */
}
/*Sekcja gorna upload csv*/
.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em; /* Zwiększony odstęp */
}

.element-item:hover {
    box-shadow: 3px 4px 16px 6px rgba(0, 0, 0, .17);
    transform: translateY(-5px);
    border-color: #ff0000;
}

.element-item > * {
    margin: 0;
    padding: 0;
}
/*Logo male*/
.element-item:first-child .logo-small img {
    height: 25px;
}
/*mniejsza czcionka*/
.element-item:first-child .name-small {
    font-size: 1.3em;
}

/*Mniejszy i nizej podtytul*/
.element-item:first-child .subtitle-small{
  font-size: 0.9em;
    margin-top: 0.5em; /* Dodany odstęp */
    margin-bottom: 1em;
}

.element-item .logo {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    color: #444;
    margin-top: 20px;
}

.element-item .logo img {
    height: 40px;
}

.element-item .name {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

.element-item .subtitle {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: #666;
}

/*Zawartosc kazdego okna*/
.element-content {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 15px 20px;
    background: #e9e9e9;
    height: 160px;
}
/* Kontener dla przycisków */
.button-container {
  display: flex;
    flex-direction: row; /*Przyciski w rzędzie*/
    gap: 8px;         /*Odstęp między przyciskami*/
    justify-content: center; /*Wyśrodkowanie przycisków*/
    margin-top: 10px;     /*Odstęp od inputu*/
    width: 100%;
}

/* Style dla przycisków */
.button {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
}

.button:hover {
    background-color: #ddd;
}

/*Dodajemy btn-sm*/
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
}
/* Style dla inputu */
.file-input{
 width: auto;
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.7em;
    background-color: #fff;
    transition: border-color 0.2s;
     white-space: nowrap;
}

.file-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
input[type="file"] {
    font-size: 0.7em;
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 12px;
    margin-top: auto;
}
