/* Ogólne style */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;  /* Bardzo jasny szary (prawie biały) */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    height: 5px;
    background-color: #0056b3; /* Ciemnoniebieski */
}

.navbar {
    height: 50px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40; /* Ciemny szary */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;  /* Biały tekst */
}

.navbar-brand img {
    height: 30px;
    margin-right: 5px;
}

.navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white;
}

.dropdown-menu a:hover {
    background-color: #212529;  /* Ciemniejszy szary dla dropdown */
    color: white;
}

.wrapper {
    display: flex;
    flex: 1;
     min-height: calc(100vh - 55px); /*Dostosowanie wysokosci*/
}

.sidebar {
    width: 180px;
    background-color: #2C3E50;  /* Ciemny niebieski */
    padding: 15px;
    position: sticky;
    top: 55px;  /* Dostosowanie do wysokosci navbar */
    height: calc(100vh - 55px);   /* Dostosowanie wysokosci */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  /* Dodanie scrolla, gdy zawartość się nie mieści */
}

.sidebar a {
    color: #ECF0F1;  /* Jasny kolor dla linków */
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #1ABC9C; /* Zielony przy hover */
    color: white;
}

.sidebar a.active {
    background-color: #16A085; /* Ciemniejszy zielony dla aktywnego */
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Dodanie scrolla dla zawartości */

}

.container {
    margin-top: 0;  /* Usunięto margines, aby kontener przylegał do góry */
    flex: 1;
    display: flex;  /* Używamy flexbox, aby zawartość rozciągała się */
    flex-direction: column;  /* Elementy ułożone w kolumnę */
}

h2 {
  margin-top: 0; /* Usuń margines z góry */
}

.mb-3 {
  margin-bottom: 1rem !important; /* Zmniejsz przestrzeń pod formularzem */
}
 #data-table-container {
        overflow: hidden;
        position: relative;
    }

    #table-wrapper {
        max-height: 200px; /* Początkowa maksymalna wysokość */
        overflow: auto;    /* Włącz przewijanie */
        margin-bottom: 10px;
    }

     #data-table {
        width: 100%;
        font-size: 0.9em; /* Mniejsza czcionka w tabeli */
    }


    /* Style dla linku "Show More" */
    #toggle-table {
        color: #007bff; /* Niebieski kolor linku */
        text-decoration: none; /* Usuń podkreślenie */
        cursor: pointer;
        display: block; /* Blokowy element, aby zajął całą szerokość */
        text-align: center; /* Wyśrodkowanie tekstu */
        margin-top: 5px; /* Odstęp od tabeli */
        font-size: 0.8em; /* Mniejsza czcionka */
    }

    #toggle-table:hover {
        text-decoration: underline; /* Podkreślenie przy najechaniu */
    }


.tile {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #495057;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.2s;
}

.tile:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tile img {
    height: 20px;
    margin-right: 8px;
}

.import-csv-wrapper {
    background: white;
    padding: 10px;
    border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.import-csv-wrapper h5 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #343a40;
}

#importCsvButton {
    width: 10%;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Zmieniono na relative */
    bottom: 0;
    width: 100%;
    font-size: 12px;
    margin-top: auto; /* Kluczowa zmiana: Przesuwa footer na dół */
}


.spacer {
    height: 20px;
}

.data-table-wrapper {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: 20px;
}


/* Style dla tabeli (możesz dostosować) */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse; /* Ważne dla spójnego wyglądu */
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #e9ecef; /* Jasnoszary nagłówek */
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); /* Delikatne prążkowanie */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

/* Przyciski */
.btn {
    padding: 0.375rem 0.75rem; /* Standardowe paddingi Bootstrap */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer; /* Zmień kursor na łapkę */
    text-align: center; /* Wyśrodkuj tekst */
    white-space: nowrap; /* Zapobiegaj zawijaniu tekstu */
    display: inline-block; /* Aby paddingi i marginesy działały poprawnie */
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-sm { /* Dodano styl .btn-sm */
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;

}
.btn-warning{
     color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover{
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}


.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem; /* Dodaj margines nad przyciskami */
}

/* Style dla input file (ukrycie brzydkiego przycisku) */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-label{
    font-weight: bold;
}
